<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="http://www.craftcuts.com/media/catalog/product/cache/42/image/d9ae38d158c965cc5cb1d8e855ff745b/s/t/stencilshape_basic_diamonds.jpg">
  <h2>Gems Shell service library test app</h2>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="HelloGemsOnClick()">Hello Gemsauth</button>
    <button mat-raised-button color="primary" (click)="showAppMetadataOnClick()">Show App Metadata</button>
    <!-- <a mat-raised-button routerLink="hello"></a> -->
  </div>
  {{zirconApp.displayName}}<br>
  {{zirconApp.description}}<br>
  {{zirconApp.iconPath}}<br>
</div>

